.good-bye {
  display: flex;
  font-size: 40px;
  margin: 0 auto;
  justify-content: center;
}

.go-home-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 40px;
  background-color: yellowgreen;
  width: 20vw;
  margin: 10vh auto;
}
