.nil {
  height: 10vh;
}

.sign {
  display: flex;
  padding-top: 20px;
}

.login {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  box-sizing:  border-box;
  font-size: 20px;
  color: white;
  background-color: palevioletred;
  border: solid 4px ;
  line-height: 50px;
  padding: 10px;
  margin-right: 5vw;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.main-title {
  font-size: 60px;
}

// フェードイン記述
.main-title {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  font-family: 'Vollkorn', serif;
}

@keyframes fadein-bottom {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
// フェードイン記述
.new {
  display: flex;
  justify-content: center;
}

.sign-up {
  background-color: lightcoral;
  color: wheat;
  border: solid 3px orange;
  text-decoration: none;
  font-size: 50px;

  padding: 40px;
  margin-top: 10%;
}
.greeting {
  display: flex;
  margin-right: 10px;
}

.hello {
  color: powderblue;
  font-size: 30px;
  text-decoration: none;
  margin: 0 10px;
}
.user-nickname {
  color: powderblue;
  font-size: 30px;
}

.introduction {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

h3 {
  font-size: 50px;
  padding : 100px;
}

.image {
  border: none;
  width: 100%;
  margin: 0 auto ;
}

.let {
  box-sizing:  border-box;
  color: palevioletred;
  font-size: 100px;
  padding: 5px;
}

.create {
  box-sizing:  border-box;
  box-sizing: border-box;
  font-size: 100px;
  color: white;
  background-color: #419be0;
  border: solid 2px black;
  text-decoration: none;
  padding: 10px;
}

.create:hover {
  background-color: white;
  color: #419be0;
}

// slick
.preview {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.slider {
  text-align: center;
  color: #419be0;
  background: white;
  position: relative;
}

// FontAwesome
.fa-arrow-alt-circle-left {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: -100px;
  top: 300px;
}

.fa-arrow-alt-circle-right {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: -100px;
  top: 300px
}

// 一覧表示
.show-index {
  color: #419be0;
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.show-index {
  font-size: 50px;
}

.slide-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.slide-list {
  list-style: none;
}


.slide-title-content {
  text-decoration: none;
  font-size: 35px;
  color: #333;
  font-family: 'Cherry Swash', cursive;
  display: flex;
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.slide-title-head {
  color: purple;
  margin-bottom: 1vh;
}
.slide-img-content {
  overflow: hidden;
}

.slide-img {
  height: 40vh;
  width: 30vw;
  // opacity: 0;
  // animation-name: fadein-bottom;
  // animation-duration: 2s;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;
  // animation-delay: 2s;
  transition-duration: 0.3s;
}

.slide-img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  opacity: 0.8;
}

// プルダウン
.background-red{
  display: inline-block;
  text-align: center;
  align-items: center;
  box-sizing:  border-box;
  font-size: 20px;
  color: white;
  background-color: palevioletred;
  border: solid 4px ;
  line-height: 50px;
  padding: 10px;
  margin-right: 5vw;
}

.fas {
  padding: 5px;
}

#menu_down {
  display: none;
}

.show-lists{
  width: 150px;
  position: absolute;
  top : 0;
  right: 0;
  background-color: #ffffff;
}

.pull-down-list-1, .pull-down-list-2, .pull-down-list-3 {
  padding: 15px 35px 15px 15px;
  border: 1px solid #eee;
}

.pulldown-create {
  text-decoration: none;
  color: #333;
}

.pulldown-create:hover {
  opacity: 0.7;
}

.go-share {
  text-decoration: none;
  color: #333;
}

.go-share:hover {
  opacity: 0.7;
}

.pulldown-logout {
  text-decoration: none;
  color: #333;
}

.pulldown-logout:hover {
  opacity: 0.7;
}