.room-name {
  font-size: 30px;
}

.comments-list {
  padding: 10px 0 10px 5px;
}

.comment-btn {
  text-decoration: none;
  display: inline;
  font-size: 30px;
  color: gray;
  background-color: aqua;
  padding: 5px;
}