<header class='top-page-header'>
<div><%= link_to "SLIDESHOW", root_path, class:  "top"%></div>
<div class='nav'>
  </div>
</header>

<body>
  <%= form_with model: @item, local: true do |f| %>
    <%= f.text_area :title, class:"slide-title", placeholder:"Slide名（必須 20文字まで)", maxlength:"20" %>
  <label class="form-image">
    <span class="image-file">画像</span>
    <%= f.file_field "image", type: :file, class: "hidden" %>
  </label>
  <% end %>
</body>