.logout {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  box-sizing:  border-box;
  font-size: 20px;
  color: white;
  background-color: palevioletred;
  border: solid 4px ;
  line-height: 51px;
  padding: 10px;
  margin-right: 5vw;
}

.logout:hover {
  background-color:#FFBEDA;
}

.no-slide {
  display: flex;
  justify-content: center;
  font-size: 40px;
  opacity: 0.4;
  margin-top: 40vh;
}

@media (max-width: 599px) {
  .logout {
    font-size: 10px;
    line-height: 22px;
    margin-right: 10vw;
  }
}