<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css">
</head>
<body>
<section class="swiper-container loading">
  <div class="swiper-container">
    <div class="swiper-wrapper" >
      <% @slide.images.each do |image| %>
        <div class="swiper-slide" >
          <%= image_tag image, class:"slide-show-image", size:'600x600' %>
        </div>
      <% end %>
    </div>
  </div>
</section>
  <div class="pagination-wrap">
    <p class="stopbtn stop"></p>  <!-- 停止ボタン -->
    <div class="swiper-pagination"></div>
  </div>

  <%# swiper %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
    effect: 'coverflow',
    slidesPerView: 2,
    loop: false,
    autoplay: { delay: 2000 },
    centeredSlides: true,
    pagination: {
        el: '.swiper-pagination',
        clickable: true
    },
    coverflowEffect: {
      slideShadows: false,
    },
});

$(window).on('load', function() {
    $('.stopbtn').on('click', function() {
        var _class = $(this).attr('class');
        if (_class == 'stopbtn stop') {
            $(this)
                .addClass('start')
                .removeClass('stop');
                swiper.autoplay.stop();
        } else {
            $(this)
                .addClass('stop')
                .removeClass('start');
                swiper.autoplay.start();
        }
    });
});
</script>
</body>